# Copia este archivo como .env y rellena los valores reales
# NUNCA subas el .env real a GitHub

SECRET_KEY=cambia-esto-por-una-clave-secreta-larga
DEBUG=False
ALLOWED_HOSTS=2.25.74.38,tudominio.com

DB_NAME=edgecom
DB_USER=edgecom_user
DB_PASSWORD=cambia-esto-por-una-contrasena-segura
