{% extends 'core/base.html' %}

{% block title %}Agregar Cliente{% endblock %}

{% block content %}
    <div class="card shadow p-4" style="max-width: 600px; margin: auto;">
        <h2 class="mb-4">Agregar Cliente</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary w-100 mt-3">Guardar</button>
        </form>
        <a href="{% url 'lista_clientes' %}" class="btn btn-secondary w-100 mt-2">Ver todos los clientes</a>
    </div>
{% endblock %}
